* {
          box-sizing: border-box;
          text-align: center;
        }
        header {
          background-color: #252525;
          color: #ff0000;
          padding: 10px;
        }
        body {
          background-color: #414141;
          color: #af0404;
        }
        footer {
          width: 100%;
          background-color: black;
          position: fixed;
          bottom: 0;
          padding: 10px;
        }
        .container {
          width: 80vw;
          margin: 0 auto;
        }
        .main-container {
          height: 85vh;
          margin: 0 auto;
          margin-top: 10px;
          margin-bottom: 3rem;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1.5fr 1.5fr;
          gap: 5px 1%;
        }
        .resultat {
          grid-area: 1 / 1 / 3 / 2;
        }
        .image {
          grid-area: 1 / 2 / 2 / 5;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          max-height: 100%;
        }
        img {
          width: 30%;
        }
        img:hover {
          box-shadow: 7px 7px 11px 0px rgb(179, 20, 20, 1), -7px -7px 11px 0px rgba(179, 20, 20, 1);
        }
        .view-result {
          grid-area: 2 / 2 / 3 / 5;
          display: flex;
          flex-direction: column;
          align-content: center;
        }
        li {
          text-align: left;
          margin-bottom: 5px;
        }
        
        table,
        th,
        td,
        tr {
          border-style: solid;
          border-color: white;
          border-width: 2px;
          padding: 5px;
        }
        
        canvas {
          margin-top: 20px;
          max-height: 90%;
        }